extend layout

block content   
  h1 Meet Your Devs!
  div 
    div  
      img(src="img.png", alt="Photo of Dev Here")
    div
      h2 Brittney Moliver
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
    div
      a(href="http://")
      a(href="http://")
  div 
    div  
      img(src="img.png", alt="Photo of Dev Here")
    div
      h2 Jedd Basden
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
    div
      a(href="http://")
      a(href="http://")
  div 
    div  
      img(src="img.png", alt="Photo of Dev Here")
    div
      h2 Maxim Grigg
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
    div
      a(href="http://")
      a(href="http://")
  div 
    div  
      img(src="img.png", alt="Photo of Dev Here")
    div
      h2 Shannon Zander
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
    div
      a(href="http://")
      a(href="http://")
