extend layout

block content   
  h1 Meet Your Devs!
  div.aboutContent
    div.aboutGrid
      .brittneyContent
        .image  
          img(src="https://avatars.githubusercontent.com/u/87881860?v=4", alt="Photo of Dev Here")
        .h2P
          h2 Brittney Moliver
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
        .links
          a(href="http://")
          a(href="http://")
      .jeddContent
        .image  
          img(src="https://avatars.githubusercontent.com/u/74204664?s=400&u=e573f8a3e91aebc2af88e8c5b27a9e8243fc3cbc&v=4", alt="Photo of Dev Here")
        .h2P
          h2 Jedd Basden
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
        .links
          a(href="http://")
          a(href="http://")
      .maxContent 
        .image  
          img(src="https://avatars.githubusercontent.com/u/38057287?v=4", alt="Photo of Dev Here")
        .h2P
          h2 Maxim Grigg
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
        .links
          a(href="http://")
          a(href="http://")
      .shannonContent 
        .image  
          img(src="https://avatars.githubusercontent.com/u/84882854?v=4", alt="Photo of Dev Here")
        .h2P
          h2 Shannon Zander
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
        .links
          a(href="http://")
          a(href="http://")
