extend layout

block content
  h1(class='meetDev') Meet Your Devs!
  div.aboutContent
    div.allDevs
      .topHalf
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/87881860?v=4" alt="Photo of Dev Here")
          .h2P
            h2 Brittany Moliver
            br
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
          .links
            a(href="https://github.com/brittmol"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/brittany-moliver-5673521b2/"): i(class="fab fa-linkedin fa-3x")
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/74204664?s=400&u=e573f8a3e91aebc2af88e8c5b27a9e8243fc3cbc&v=4" alt="Photo of Dev Here")
          .h2P
            h2 Jedd Basden
            br
            p Yo! ^ Thats me , I'm from Nassau, Bahamas but I currently reside in Dallas, Texas. My favorite icecream is Cookies n' Creme. My hobbies include: volleyball, longboarding, and reading. Thank you for checking out our site I hope you enjoyed it!
          .links
            a(href="https://github.com/Jeddbasden"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/jedd-basden-080149155/"): i(class="fab fa-linkedin fa-3x")
      .bottomHalf
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/38057287?v=4" alt="Photo of Dev Here")
          .h2P
            h2 Maxim Grigg
            br
            p(class='maxim') Hello! My name is Maxim. I was born in Southern California, went to college in Nothern California, and am currently residing back in Southern California . In my last semster of college(2021), I took a CS class that ingrained in me a deep fascination with technology. This project is one display of my current journey in pursuing a career in software development. I am open to and interested in opportunities, in both, Sothern California and the Bay area of California!
          .links
            a(href="https://github.com/mtgrigg"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/maxim-grigg-42a4451a9/"): i(class="fab fa-linkedin fa-3x")
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/84882854?v=4" alt="Photo of Dev Here")
          .h2P
            h2 Shannon Zander
            br
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
          .links
            a(href="https://github.com/sezder"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/shannon-e-zander/"): i(class="fab fa-linkedin fa-3x")
