extend layout

block content
  .h1Div
    h1 Meet Your Devs!
  div.aboutContent
    div.allDevs
      .topHalf
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/87881860?v=4" alt="Photo of Dev Here")
          .h2P
            h2 Brittany Moliver
            br
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis veritatis nemo. Reprehenderit totam placeat aliquam soluta dolorem quibusdam natus aut corrupti, voluptas expedita repudiandae! Quos mollitia enim numquam iusto.
          .links
            a(href="https://github.com/brittmol"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/brittany-moliver-5673521b2/"): i(class="fab fa-linkedin fa-3x")
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/74204664?s=400&u=e573f8a3e91aebc2af88e8c5b27a9e8243fc3cbc&v=4" alt="Photo of Dev Here")
          .h2P
            h2 Jedd Basden
            br
            p(class='jedd') Yo! My name is Jedd, I'm from Nassau, Bahamas but I currently reside in Dallas, Texas. This project was alot of fun and a great learning experience. This is just the beginning of my path in a career in Software Development/Engineering, Hope you get to see alot more of me! Thank you for checking out our site I hope you enjoyed!
          .links
            a(href="https://github.com/Jeddbasden"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/jedd-basden-080149155/"): i(class="fab fa-linkedin fa-3x")
      .bottomHalf
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/38057287?v=4" alt="Photo of Dev Here")
          .h2P
            h2 Maxim Grigg
            br
            p(class='maxim') Hello! My name is Maxim. I was born in Southern California, went to college in Nothern California, and am currently residing back in Southern California . In my last semster of college(2021), I took a CS class that ingrained in me a deep fascination with technology. This project is one display of my current journey in pursuing a career in software development. I am open to and interested in opportunities in both, Southern California and the Bay area of California!
          .links
            a(href="https://github.com/mtgrigg"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/maxim-grigg-42a4451a9/"): i(class="fab fa-linkedin fa-3x")
        .devContent
          .imageDiv
            img(class="img" src="https://avatars.githubusercontent.com/u/84882854?v=4" alt="Photo of Dev Here")
          .h2P
            h2 Shannon Zander
            br
            p(class='shannon') Hey, I’m Shannon. I attended Whitman College, where I double majored in Classics and Philosophy, graduating with Honors in Major Study in both majors. I’m deeply passionate about linguistics, and I’ve loved coding ever since I figured out that it occupies a similar mental space as reading and writing ancient languages. I’ll be looking for remote software engineering opportunities as of Spring 2022.
          .links
            a(href="https://github.com/sezder"): i(class="fab fa-github-square fa-3x")
            a(href="https://www.linkedin.com/in/shannon-e-zander/"): i(class="fab fa-linkedin fa-3x")
