extends layout

block content
  h1 My Board Games

  ul My Game Shelves:
    each shelf in gameShelves
      li= shelf.shelfName
  br
  //- form(method='post')
  //-   button(id='addShelfBtn') Add a Game Shelf:

  form(action=`/gameshelves/:newshelf` method='post')
    div
      label(for='newShelf') Add a Shelf:
    div
      input(type='text' id='newShelf')
      button(type='submit' id='addShelfBtn') add

  div
    ul Game Shelf: #{gameShelf.shelfName}
      each boardGame in allGamesOfUser
        li= boardGame.title
        li: img(src=`${boardGame.image}` class='boardGameImage')
