extends layout

block content
  h1 My Board Games

  ul My Game Shelves:
    each shelf in gameShelves
      li= shelf.shelfName
  br
  div#createAddShelf
    button(id='addShelfBtn') Add a Game Shelf:

  //- form(action=`/gameshelves/:newshelf` method='post')
  //-   div
  //-     label(for='newShelf') Add a Shelf:
  //-   div
  //-     input(type='text' id='newShelf')
  //-     button(type='submit' id='addShelfBtn') add
