doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="/javascripts/index.js" type="module")
  body
    //- this will be in the nav bar
    nav
      ul
        li: a(href='/boardgames') Board Games
        li: a(href='/gameshelves') My Board Games
      div
        if locals.authenticated
          span Welcome #{user.username}!
          form(action='/users/logout' method='post')
            button(type='submit') Log Out
        else
          span
            a(href='/users/login') Log In
            a(href='/users/signup') Sign Up
            form( action='/users/demo-user' method='post' )
              button( type='submit' ) Demo User
      div
        form(action='/boardgames' method='post')
          input(type="search" placeholder="🔎 Search..." name="term" required)
    block content
