doctype html
html
  head
      block head
        title="Cheese & Checkers"
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
        link(rel='stylesheet' href='/stylesheets/buttons.css')
        link(rel='stylesheet' href='/stylesheets/card.css')
        link(rel='stylesheet' href='/stylesheets/card.css')
        link(rel='stylesheet' href='/stylesheets/indiGame.css')
        script(src="https://kit.fontawesome.com/26d6a93618.js" crossorigin="anonymous")
        script(src="/javascripts/navBurger.js" type="module")
        script(src="/javascripts/deleting.js" type="module")
        script(src="/javascripts/add-shelf.js" type="module")
        script(src="/javascripts/checked-shelves.js" type="module")
        script(src="/javascripts/index.js" type="module")
  body
    //- this will be in the nav bar
    header
      div(id="logo_and_search_container")
        a(href="/boardgames"): img(src="/logo.svg")
        div(id="search_container")
          i(class="fas fa-search")
          form(action='/boardgames' method='post')
            input(type="search" placeholder="Search..." name="term" id="search_input" required )
      nav
        ul(class="nav_links")
          li: a(href='/boardgames') Board Games
          li: a(href='/gameshelves') My Board Games
          li: a(href='#') About Us
        div.burger.burger_open: i(class="fas fa-bars fa-lg")
        div.burger.burger_close: i(class="fas fa-times fa-lg")

      if locals.authenticated
        div(class="text_medium" id="welcome_text") Welcome #{user.username}!
        form(action='/users/logout' method='post')
          button(type='submit') Log Out
      else
        div.nav_buttons
          a(href='/users/login'): button Log In
          a(href='/users/signup'): button Sign Up
          form( action='/users/demo-user' method='post')
            button( type='submit' id="log_out") Demo Use


    block content
