extends layout


//- temporarily type manual id of boardgame in path
block content 
    a(href=linkToGame)= boardGame.title
    //- NTS: img(scr="")= boardGame.img
    //- NTS: insert category if doing categories
    form(action="/reviews" method="post") 
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="reviewContent") What did you think?
        textarea(placeholder="Enter your review" name="reviewContent")
        button(type="submit") Post
        
