extends layout


//- temporarily type manual id of boardgame in path
block content
    a(href=linkToGame)= boardGame.title
    //- NTS: img(scr="")= boardGame.img
    //- NTS: insert category if doing categories
    //- NTS: change line 10 to a functional, dynamic link
    form(action=`/boardgames/${boardGame.id}/reviews/new` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="comment") What did you think?
        textarea(placeholder="Enter your review" name="comment")
        button(type="submit") Post
