extends layout

block content

    h1 Log in

    form(action='/users/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            input(type='text' name='username' value=user.username, placeholder='Username')

        div
            input(type='password' name='password' value=user.password, placeholder='Password')

        div
            button(type='submit') Log in
    div
        p: a(href='/users/signup') Need an account?
