extends layout

block content

    h1 Sign up

    form(action='/user/signup' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            input(type='text' name='username' value=user.username, placeholder='Username')
        div
            input(type='email' name='email' value=user.email, placeholder='Email')
        div
            input(type='password' name='password' value=user.password, placeholder='Password')
        div
            input(type='password' name='confirmPassword' , placeholder='Confrim Password')
        div
            button(type='submit') Sign up
    div
        p: a(href='/users/login') Already have an account?
