.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-areas:
    "A B"
    "C D";
}

.brittneyContent {
  grid-area: "A";
}

.jeddContent {
  grid-area: "B";
}

.maxContent {
  grid-area: "C";
}

.shannonContent {
  grid-area: "D";
}
