.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allDevs {
  display: flex;
  flex-direction: column;
}

.topHalf {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: space-between;
  width: 1200px;
}

.bottomHalf {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: space-between;
  width: 1200px;
}

.devContent {
  grid-area: "A";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 400px;
  height: 300px;
  border-radius: 100px;
  width: 500px;
  height: 600px;
  background-color: #0b0d0a;
  color: aliceblue;
  justify-content: space-between;
  box-shadow: -9px 9px 10px 1px #f9b427;
}

.imageDiv {
  background-color: #84291B;
  border-radius: 300px;
  width: 325px;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  float: top;
}

.h2P {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.fab.fa-linkedin {
  color: #f9b427;
}

.fab.fa-github-square {
  color: #84291B;
}

.meetDev{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.maxim{
  font-size: 14.5px;
}
