button {
  color: #FBFFF1;
  font-weight: bolder;
  margin-left: 20px;
  padding: 10px 25px;
  background-color: #84291B;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition:  all 0.5s ease 0s;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.142);
}

button:hover {
  background-color: #662015
}
