main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

#card_link {
  z-index: 0;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  grid-column-end: span 4;
  background-color: #0b0d0a;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.142);
}

.card:hover {
  transform: translateY(-7px);
}

.card_img-container {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_img-container img {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  padding: 20px;
}

.card_title {
  margin-bottom: 20px;
}

.card_info {
  display: flex;
  flex-direction: column;
  align-self: end;
  align-items: center;
}

#gameShelvesSelect {
  align-self: flex-end;
  margin: 5px 0 5px 0;
  padding: 5px;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
