.error_div {
  /* background-color: pink; */
  max-width: 370px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: sans-serif;
}



.error_li {
  margin-left: 20px;
  font-size: 18px;
  padding-top: 5px;
}
