.side_bar {
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: #0b0d0a;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.142);
}

.shelf_text_header {
  display: flex;
  flex-direction: column;
  border-bottom: #f9b427 2px solid;
  padding: 15px;
}

#my_game_shelves {
  font-weight: bolder;
  padding-top: 15px;
}

#mainShelves {
  padding: 10px 0;
  border-bottom: #f9b427 2px solid;
}

.main_gameShelves {
  margin-left: 50px;
}

.shelfLi {
  list-style: none;
  padding: 5px 15px;
  margin-top: 5px;
  line-height: 1.5;
}

.shelfLi2 {
  list-style: none;
  padding: 5px 15px;
  margin-top: 5px;
  line-height: 1.5;
}

#shelfEditBtn,
#shelfDeleteBtn {
  padding: 0;
  border-radius: 0px;
  background-color: #0b0d0a;
  border-radius: 100px;
}

.fa-edit,
.fa-trash-alt {
  color: #878884;
  width: 15px;
}

.fa-check,
.fa-plus {
  color: white;
  width: 15px;
}

#game_shelf_link {
  display: inline-block;
  position: relative;
  transition: all 0.5s ease 0s;
  margin-top: 5px;
}

/* 
#game_shelf_link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fbfff1;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

#game_shelf_link:hover:after {
  width: 100%;
  left: 0;
} */

#createAddShelf {
  display: flex;
  padding: 10px;
}

#addShelfBtn {
  margin-left: 10px;
  margin-top: 10px;
  width: fit-content;
  margin-bottom: 30px;
}

#addShelfBtn2 {
  margin-left: 10px;
  padding: 5px 10px;
}

#shelfInput {
  height: 25px;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bolder;
  color: #0b0d0a;
  margin-left: 10px;
  padding-left: 15px;
}

#my_board_games {
  color: #f9b427;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .main_gameShelves {
    grid-gap: 20px;
  }
  .gameshelf_card {
    grid-column-end: span 6;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1000px) {
  .gameshelf_cards {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .gameshelf_card {
    grid-column-end: span 6;
    margin: 0 10px; 
  }
}

@media only screen and (max-width: 850px) {
  .main_gameShelves {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
  }

  .side_bar {
    width: 90%;
  }
  .gameshelf_cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .gameshelf_card {
    grid-column-end: span 6;
    margin: 0 10px; 
  }
}
