

 .boardGameTitle {
   display:flex;
   justify-content: center;


   color:#662015;
   font-size: 400%;

  }
  .boardGameTitle:hover{

      transform: translateY(-1px);
  }
  .image {
      display: flex;
    justify-content: center;

     /* green */
  }
  .boardGameImage{
      margin-top: 50px;
height:300px;
width:auto;
box-shadow:-10px 10px rgba(0, 0, 0, 0.142);
  }

  .boardGameImage:hover{
    transform: translateY(-4px);

  }
  .company {
    display: flex;
    justify-content: center;
    grid-area: sidebar;
    color:whitesmoke;
    font-size: 100%;
  }


  #gameShelvesSelect:hover{
    transform: translateY(-2px);
  }

  #gameShelvesSelect{

      display: flex;
      justify-content: center;
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
      border: 1px solid black ;
      border-radius: 9px;


  }
  #dropDown{
    background-color: yellow;
    display: flex;
    justify-content: center;
  }

  .summary{
    color:whitesmoke;
    padding: 10px;
    margin-left: 25%;
    margin-right:25%;
  }

  .review{
      color: #FBFFF1;
  font-weight: bolder;
  margin-left: 20px;
  padding: 10px 25px;
  background-color: #84291B;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition:  all 0.5s ease 0s;

  }
  .review:hover{
    background-color: #662015
  }



  /* .select{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    ". header header ."
    "main main main main"
    "footer footer footer footer";

} */
.wrap{
    display: flex;
    justify-content: center;
}
.wrap2{
    display: flex;
    justify-content: center;
}
#gameShelvesSelect {
  grid-area: header;
display: flex;
justify-content: center;
}
#gameShelves {

  color: white;
  display:flex;
  justify-content: center;
margin-top: 10px;
font-weight: bolder;

}
.item-3 {
  grid-area: sidebar;
  background-color: indianred; /* red */
}
.checkLi {


  display: flex;
justify-content: center;
padding: 5px;
align-items: center;

}
/* .label{
    display: flex;
    align-items: center;
}
.input{
    display: flex;
    align-items: center;
} */


.editButton{
    color: #FBFFF1;
    font-weight: bolder;
    margin-left: 20px;
    padding: 10px 25px;
    background-color: #84291B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.5s ease 0s;
}

.editButton:hover{
    background-color: #662015
}

.reviewLi{
display: flex;
justify-content: center;
margin-top: 15px;
}


.indiComments{
    background-color:white;
    color: black;
    border: 1px solid black ;
    border-radius: 9px;
    padding:10px;
    margin-top:30px;
    list-style-type: none;
    width:95%;
    margin-left: 22px;
    margin-bottom: 30px;
}
.comments{
    list-style-type: none;

    margin-bottom: 25px;
}

.commentTitle{
    font-size: 30px;
}
.loggedOutReview{
    color: #FBFFF1;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
   margin-left: 10px;
    padding: 10px;
    background-color: #84291B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.5s ease 0s;
    list-style-type: none;
    width:250px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.loggedOutReview:hover{
    background-color: #662015
}

.reviewTitle{
    color: #FBFFF1;
    font-weight: bolder;


    width:5.5%;
    padding: 10px;

    border-radius: 50px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size:30px;



}


.wrap3{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
