

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fbfff1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  background-color: #0b0d0a;
}

#logo_and_search_container {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search_container {
  display: flex;
  align-items: center;
}
.fa-search {
  color: #fbfff1;
  padding-right: 8px;
  padding-left: 20px;
}

#search_input {
  height: 25px;
  width: 3fr;
  color: #0b0d0a;
  border: none;
  border-radius: 50px;
  padding-left: 10px;
}
#search_input::placeholder {
  color: #0b0d0a;
  font-size: 14px;
  padding-left: 10px;
}

#search_input:hover {
  background-color: #edf1e4;
  border: none; 
}

nav {
  background: #0b0d0a;
  color: #edf1e4;
  display: flex;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 16px;
}
.nav_links li a {
  display: inline-block;
  position: relative;
  transition: all 0.5s ease 0s;
}
.nav_links li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fbfff1;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.nav_links li a:hover:after {
  width: 100%;
  left: 0;
}

.nav_links li a:hover {
  color: #fbfff1;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edf1e4;
  width: 40px;
  height: 40px;
  background-color: #84291b;
  border-radius: 20px;
}

.burger_close {
  z-index: -1;
}

.nav_buttons {
  display: flex;
}

@media only screen and (min-width: 1300px) {
  /* large logo */
  .burger {
    display: none;
  }
}

@media only screen and (max-width: 1299px) {
  .nav_buttons,
  #log_out {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  /* large logo */
  .nav_buttons,
  #log_out {
    display: none;
  }
  .nav_links {
    font-size: 14px;
  }
}

@media only screen and (max-width: 950px) {
  /* large logo */
  .nav_buttons,
  .nav_links,
  #log_out {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  /* med logo */

  .nav_buttons,
  #log_out {
    display: none;
  }

  nav .nav_links {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0b0d0a;
    transition: top 2s ease;
  }

}

@media only screen and (max-width: 480px) {
  #search_container,
  .nav_links,
  .nav_buttons,
  #log_out {
    display: none;
  }

  nav .nav_links {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0b0d0a;
    transition: top 2s ease;
  }
}
