.wdyt{
    color:#f9b427;
    padding: 25px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.imgReviewEdit{
    display: flex;
    justify-content: center;

}
.reviewName{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    color: #662015;
    font-size: 400%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.inputValueEdit{
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
    margin-left: 20px;
    padding: 30px 35px;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition:  all 0.5s ease 0s;
    font-size: 18px;
    width: 500px;
    height: 200px;
    /* border: #f9b427 solid 15px; */

}

.f{
    /* background-color: pink; */
    /* width: 50%; */
    margin: 25px auto;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}
.updateButtonEdit{
    margin-top: 20px;
}

.summary {
    border-bottom: #f9b427 solid 3px;
}

.loggedOutReview, .review {
    background-color: #662015;
    border-radius: 30px;
    width: 140px;
    padding: 10px;
    margin: 30px 0;
}
